/* COMMON STYLES */
html,
body {
  margin: 0;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* BUTTONS */
#open-modal,
#close-modal {
  background-color: royalblue;
  color: white;
  padding: 10px 25px;
  cursor: pointer;
  border: none;
  font-size: 18px;
}

/* LAYOUTS */
.modal {
  background-color: orange;
  height: 200px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* TYPOGRAPHY */
h2 {
  margin-bottom: 0;
}
